body {
     background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.head {
      background: -webkit-linear-gradient(#0885C9, #B7D1AD);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 30px;
      font-size: 350%;
}

.navbar {
    background-color: #D2E0BD;
}